<template>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div v-if="loginOpen">
          <signup @createNewUser="createNewUser" v-bind:signupInfo="signupInfo"></signup>
          <!-- <signin></signin> -->
        </div>

        <users v-bind:users="users"></users>
      </div>
      <div class="column">
        <game></game>
      </div>
      <div class="column">
        <div id="chat">
        <!-- passing  logs-array to logs-prop in children(v-bind:logs) -->
        <chat v-bind:logs="logs"></chat>
        </div>
        <!-- listen messageSend - event that comes from the component and execute addMessage method -->
        <chat-new-message @addMessage="addMessage"></chat-new-message>

      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
//socket.io
import io from 'socket.io-client';
const socket = io('http://127.0.0.1:8000');
const uSocket = io('http://127.0.0.1:4000');
import Game from './components/Game.vue';
import Signup from './components/Signup.vue';
import Signin from './components/Signin.vue';
import Chat from './components/Chat.vue';
import ChatNewMsg from './components/ChatNewMsg.vue';
import Users from './components/Users.vue';

export default {
  data() {
    return {
      logs: [],
      name: '',
      signupInfo: {
        isSended: false,
        msg: ''
      },
      loginOpen: true,
      logged: false,
      users: []
    };
  },
  methods: {
    //sends chat msg to the server
    //vue.js automatially passes the value newMsg to the parent
    addMessage(newMsg) {
      let messageObj = { name: this.name, text: newMsg };
      socket.emit('chat message', messageObj);
    },
    createNewUser(userData) {
      var self = this;
      let username = userData.username;
      let password = userData.password;
      axios
        // TODO: muuta osoite oikeaan osoitteeseen myöhemmin
        .post('/users/signup', {
          username: username,
          password: password
        })
        .then(response => {
          //checks if user has been logged in??
          if (response.data.msg === 'User successfully created!') {
            //and assigns given userna to the name
            this.name = username;
            self.loginOpen = false;
            self.logged = true;
          }
        })
        .catch(err => console.log(err));
    }
  },
  components: {
    game: Game,
    signup: Signup,
    signin: Signin,
    chat: Chat,
    chatNewMessage: ChatNewMsg,
    users: Users
  },
  created: function() {
    //listens the chat msg from the server
    const self = this; // Save a handle to vue instance
    //chat socket logic

    socket.on('connect', function(data) {
      socket.on('chat message', function(data) {
        self.logs.push(data);
      });
    });

    uSocket.once('connect', function() {
      uSocket.emit('join', self.name);
    });

    uSocket.on('connect', function(socket) {
      uSocket.on('get users', function(data) {
        self.users = data;
      });
    });
  }
};
</script>

<style>
/* chat styles*/
#chat {
  background-color:rgb(214, 214, 214);
  padding: 12px 12px 12px 12px;
}
</style>
