<template>
  <div>
        <div class="content">
          <div style="overflow:auto; height: 400px;">
            <chat-message v-for="msg in logs">
              <div slot="header">{{msg.name}}</div>
              <p>{{msg.text}}</p>
            </chat-message>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import ChatMsg from './ChatMsg.vue';
export default {
  props: ['logs'],
  components: {
    chatMessage: ChatMsg
  }
};
</script>

<style>

</style>
