<template>
  <div class="message">
    <div class="message-header">
      <!-- slot's are used to pass data from parent to children -->
      <slot name="header"></slot>
    </div>
    <div class="message-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>

</script>

<style>
  .message {
    max-width: 361px;
  }
</style>
