<template>
  <div id="chatMsg">
    <div class="chatMsgContainer">
      <div class="field">
        <input class="input" type="text" v-model="newMsg"/>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <!-- can be also v-on.prevent:  -->
          <button class="button is-black" v-on:click.prevent="addMessage"> add message </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      newMsg: ''
    };
  },
  methods: {
    //send new chat to the parent -component
    addMessage() {
      //sends the request to the parent component
      this.$emit('addMessage', this.newMsg);
      //clears the input
      this.newMsg = '';
    }
  }
};
</script>

<style>
#chatMsg {
  background-color: gray;
  padding-top: 16px;
}
.chatMsgContainer {
  padding: 0 10px 0 10px;
}
</style>
