<template>
  <div>
    <div id="game">
      <div style="height: 60px; text-align: center; background-color:rgb(214, 214, 214) ;">
              <p style="line-height: 60px; color: white;">Points:</p>
          </div>

          <div id="gameboard"style="background-color:rgb(214, 214, 214) ;">
            <canvas id="myCanvas" width="500" height="500" style="border: 1px solid;"></canvas>
          </div>
    </div>
  </div>
</template>

<script>

</script>

<style>

</style>
