<template>
    <div >
      <form>
        <h3>Luo Tunnus</h3>
        <div class="field">
          <div class="label">Name</div>
          <div class="control">
            <!-- v-model.lazy estää arvon automaattista päivitystä -->
            <input class="input" text="text" placeholder="name.." v-model.lazy="userData.username">
          </div>
        </div>
        <div class="field">
          <div class="label">password</div>
          <div class="control">
            <input class="input" type="password" placeholder="password" v-model.lazy="userData.password">
          </div>
          <div class="field">
            <div class="control">
              <!-- .prevent prevents sending the form to the server -->
              <button class="button is-black" @click.prevent="createNewUser">Signup</button>
            </div>
          </div>
          <!-- add confirmation - field may be useless  -->
        </div>
      </form>
      <!-- v-if="isSended" -->
      <div v-if="isSended">
        {{ msg }}
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      userData: {
        username: '',
        password: ''
      },
      isSended: false,
      msg: ''
    };
  },
  methods: {
    createNewUser() {
      var self = this;

      this.$emit('createNewUser', this.userData);

      this.userData.password = '';
      this.userData.username = '';
    }
  }
};
</script>

<style>

</style>
