<template>
    <div class="border">
      <form>
        <h3>Kirjaudu sisään</h3>
        <div class="field">
          <div class="label">Name</div>
          <div class="control">
            <!-- v-model.lazy estää arvon automaattista päivitystä -->
            <input class="input" text="text" placeholder="name.." v-model.lazy="userData.username">
          </div>
        </div>
        <div class="field">
          <div class="label">Name</div>
          <div class="control">
            <input class="input" type="password" placeholder="password" v-model.lazy="userData.password">
          </div>
          <div class="field">
            <div class="control">
              <!-- .prevent prevents sending the form to the server -->
              <button class="button is-text" @click.prevent="submitted">Kirjaudu</button>
            </div>
          </div>
          <!-- add confirmation - field may be useless  -->
        </div>
      </form>
      <!-- v-if="isSended" -->
      <div v-if="isSended">
        {{ msg }}
      </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      userData: {
        username: '',
        password: ''
      },
      isSended: false,
      msg: ''
    };
  },
  methods: {
    submitted() {
      var self = this;

      let username = this.userData.username;
      let password = this.userData.password;
      axios
        .post('/users/signup', {
          username: username,
          password: password
        })
        .then(response => {
          self.msg = response.data.msg;
          this.isSended = true;
          self.userData.password = '';
          self.userData.username = '';
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

<style>
.border {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

button {
  margin: 10px 0 10px 0;
}

h3 {
  margin-top: 8px;
}
</style>
