<template>
  <div>
      <div id="users" style="background-color:rgb(214, 214, 214); padding: 12px 12px 12px 12px;  ">
        <div class="content">
          <div style="overflow:auto; height: 400px;">
            <ul>
              <li v-for="user in users">
                {{ user }}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
</template>

<script>
export default {
  props: ['users']
};
</script>

<style>

</style>
